APP_ENV=development
APP_URL=http://localhost:8080
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=5432
DB_NAME=xestify_dev
DB_USER=postgres
DB_PASSWORD=change_me

JWT_SECRET=change_me_random_secret_min_32_chars
JWT_ALGORITHM=HS256
JWT_EXPIRY=3600

PLUGINS_PATH=../plugins
